/* -------------
 General styling
 -------------- */
 .k-header{
   color: white!important;
 }
 .k-button.k-primary{
   background-color: #2A306C!important;
   padding: 5px 10px 5px 10px!important;
   border-color:white!important;
   border-radius: 5px!important;
   background-image: linear-gradient(rgba(0, 0,0, 0), rgba(0, 0, 0, 0))!important;
 }
 .MuiBackdrop-root{
   background-color: rgb(0 0 0 / 58%)!important;
 }
 .MuiAppBar-root{
  background-color: #2a306c!important;
  /* background-color: white!important; */
  z-index: 5000!important;
  box-shadow:0px 0px 0px 0px!important;
 }
 .MuiDrawer-paper {
   top:70px!important;
}
/* .MuiRadio-colorPrimary.Mui-checked{
  color: #40a9ff!important
} */
.MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track{
  background-color:#40a9ff!important;
}
.MuiSwitch-colorPrimary.Mui-checked{
  color: #50c8dc!important;
}

.MuiFormControlLabel-root {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.MuiList-padding{
  padding-top: 0px!important;
}
.MuiPaper-root{
 box-shadow: 0px 0px 0px -0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0), 0px 0px 0px 0px rgba(0,0,0,0)!important;
}

button:focus {
    outline: 0px dotted!important;
    outline: 0px auto -webkit-focus-ring-color!important;
}
a{
  color: black;
}
body{
  background-color: #FDFDFD;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





.layout{
  padding-top: 70px;
  min-height: 80vh!important;
}
.row{
  padding-left: 0px!important;
  padding-right: 0px!important;

  margin-left: 0px!important;
  margin-right: 0px!important;
}
.col{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.col-md-6{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.col-md-4{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.col-md-7{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

 table th{
     text-align: left;
     background-color: #2A306C;
     padding:1% !important;
     color:white;
     border-collapse: collapse;
     border-right: 1px solid white;
     width:120px ;

 }


 table td{
     padding:2% !important;
     border-left:1px solid #8588AA;
     border-bottom: 1px solid #8588AA;
     border: 1px solid #8588AA;
     width: 120px ;
 }



 input{

     margin-top:2% !important;
     margin-bottom: 2% !important;
     padding:2%;
     margin-right:0.9% !important;
     height:30px  ;
     width: 100%  ;
     border:1px solid black;
     border-radius: 1px;

 }

 table{
     margin-bottom: 3%;
     margin-top: 1%;
     border-collapse: collapse;
     table-layout: fixed;
     width: 100%;
 }


/* --------------
  Progress bar
 ----------------*/
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: white;
  position: fixed;
  z-index: 9031;
  top: 0;
  left: 0;
  border: 1px solid dodgerblue!important;
  width: 100%;
  height: 1px!important;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px white, 0 0 5px white;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 8031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-top-color: white;
  border-left-color: white;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* ---------------
 Header styling
 ---------------- */

.h-logo{
  border-radius: 20%;
   height: 68px;
   width: 140px;
   margin-top: 1px;
   object-fit: contain;
}
@media (max-width: 767px) {
  .h-logo{
      border-radius: 5%!important;
    /* height: 100%;
    width: 50%; */
    margin-top: 2px;
    height: 65px;
    width: 92px;
  }
}
/* ---------------
 Homepage styling
 ---------------- */
 .hp-curve{
   background-color:#30336B;
   height:250px;
   border-radius:0% 0% 50% 50% / 0% 0% 52% 52%
 }
.hp-welcome{
  position:absolute;
  top:80px;
  left:7%;
  right:7%;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
  z-index: 1000;
}

.hp-welcome-inner{
  /* min-height: 260px; */
}
.hp-welcome-text-c{
  text-align: center;
  padding-top: 80px;
}
.hp-sub-1{
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.hp-sub-2{
  font-size: 14px;
  font-weight: 600;
  color: #d9d9d9;
}

@media (min-width:767px) {
  .hp-welcome-text-c{
    text-align: center;
    padding-top: 20px;
  }
  .hp-welcome-inner{
    border-radius: 20px;
    height: 400px;
    box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
    background-image: url('/images/home_welcome.gif');
    background-position: center;
    background-repeat: no-repeat;
    opacity:1;
    border-radius: 20px;
  }
}
@media (max-width: 767px) {
  .hp-welcome{
    /* min-height:400px; */
  }
}

.hp-mg{
  margin-top: 260px;
}
.hp-mg-title{
  padding: 10px;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
}
.hp-mg-card{
  box-shadow: #E9ECEE 0px 0.30rem .6rem 0.5rem;
  margin: 10px;
  padding: 25px;
}
.hp-mg-desc{
  text-align: start;
  font-size: 15px;
}
.hp-mg-header{
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: #303030;
}
.hp-btn-container{
  padding: 10px;
  text-align: center;
}
.hp-mg-btn{
  background-color: #00C4FF!important;
  width: 250px;
  color: white!important;
  font-weight: bold!important;
  padding: 10px 20px 10px 20px!important;
}
.hp-detail-container{
  margin-top: 50px;
}
.hp-details{
  padding: 10px 10px 20px 10px;
  margin-bottom: 70px;
  box-shadow: #E9ECEE 0px 0.30rem .6rem 0.5rem;
}
.hp-detail-input{
  margin: 5px!important;
}
.hp-inp-container{
  background-color: white;
  padding: 0px;
  height: 180px;
  border-radius: 20px;
}
.hp-inp-container-l{
  max-width: 350px!important;
}
.hp-inp-container-l-o{
  position: absolute;
  /* top:20%!important; */
  min-width: 300px!important;
  padding:10px!important;
  background-color: white;
  height: 180px!important;
  border-radius: 10px;
  box-shadow: #E9ECEE .6px 0.3rem 0.5rem 0rem;
}
@media (min-width:767px) {
  .hp-inp-container-l-o{
    margin-top: 20px;
    box-shadow: white 0px 0px 0px 0px!important;
  }
}

@media (max-width:767px) {
  .hp-inp-outer{
      padding-bottom: 30px;
  }
}
.hp-heading{
  font-size: 28px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.84px
}
.hp-subheading{
  font-size: 22px;
  color: #e0e0e0;
  font-weight: 600;
  letter-spacing: 0.66px
}
.hp-loader{
  position: fixed;
  top:45%;
  z-index: 2000;
  left: 45%;
  right: 45%;
  /* bottom: 45%; */
}
@media (max-width:767px) {
  .hp-loader{
    left: 30%;
    right: 30%;
  }
}


.hp-continue-btn{
  position: absolute;
  bottom: -10px;
}
.hp-mb-continue-btn{
  position: absolute;
  left: 30%;
  right: 30%;
  bottom: -20px;
}

@media (min-width:767px) {
  .hp-inp-outer{
    border-radius: 20px;
    min-height: 190px;
    position: absolute;
    top: 28%;
  }
}
.hp-input{
  background-color: white!important;
  max-width: 250px;
  /* margin: 5px 5px 5px 0px; */
  border-radius: 10px!important;
  border: 0px solid black!important;
  /* box-shadow: #E9ECEE 0px 0.20rem .3rem 0.1rem; */
}
.hp-radio-btn{
  /* padding: 17px 17px 7px 19px; */
}
.hp-inpt-btn-c{
  /* position: absolute!important;
  bottom: 0px!important;
  left: 40%; */
}
.hp-inpt-btn{
  background-color: #00C4FF!important;
  color: white!important;
  font-weight: bold!important;
  padding: 10px 30px 10px 30px!important;
}
@media (max-width:767px) {
  .hp-inpt-btn-c{
    left: 30%;
  }
  .hp-welcome{
  position:absolute;
  /* top:80px; */
  left:10px;
  right:10px;
  padding: 10px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  /* background-color: #ffffff; */
  /* z-index: 1100; */
  }
}
.mb-hp-welcome{
    background-image: url('/images/home_welcome_mobile.gif');
    width: 100%!important;
    border-radius: 10px;
    background-position: center;
    height: 230px!important;
}
.hp-mg-container{
  margin-top: 280px;
}
@media (max-width:767px) {
  .hp-mg-container{
    margin-top: 265px;
  }
}
.hp-mg-img-container{
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
}
.hp-mg-text{
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 0.6px;
  font-weight: 400;
  /* opacity: 75%; */
  color: #303030;
}
.hp-mg-title{
  font-size: 20px;
  color: #2a306c;
  font-weight: 600;
  padding: 0px;
}
.hp-service-container{
  margin-top: 60px;
  padding-bottom: 30px;
}
.hp-mg-heading{
  padding-left: 40%;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: 400!important;
  position: relative;
}
.hp-mg-heading::after {
    background-color: #2a306c;
    bottom: 40;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 70px;
}

.hp-service-heading{
  padding-left: 40%;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 10px;
  font-weight: 400!important;
  position: relative;
}
@media (max-width:767px) {
  .hp-service-heading{
    padding-left: 20%;
  }
  .hp-mg-heading{
    padding-left: 20%;
  }
}
.hp-service-heading::after {
    background-color: #2a306c;
    bottom: 40;
    content: '';
    display: block;
    height: 3px;
    /* left: 14%; */
    position: absolute;
    /* transform: translate(-0%,0); */
    width: 70px;
}


/* .hp-title{
  position: absolute;
  width: 80px;
  height: 1px;
 border-bottom: 4px solid #2a306c;
} */
.hp-service-card{
  padding: 20px;
  /* box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25); */
  margin: 10px 10px 10px 10px;
}
.hp-card-title{
font-size: 20px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.17;
letter-spacing: 0.72px;
text-align: left;
color: #2a306c;
}
@media (min-width:767px) {
  .hp-mg-inner{
    padding-left: 100px;
    padding-top: 0px;
  }
}
@media (max-width:767px) {
  .hp-mg-inner{
    padding-top: 30px;
  }
}
.hp-icons{
  margin-right: 10px;
  font-size: 25px;
}


/* ---------------
 Homepage  modal
 ---------------- */
 .md-btn{
   background-color: #00C4FF!important;
   color: white!important;
   font-weight: bold!important;
   padding: 10px 30px 10px 30px!important;
 }


.baggage-container{
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items:center;
}
.baggage-input{
  height: 25px;
  width: 25px;
}
.baggage-text{
 font-weight: bold;
 margin: 0px 20px 0px 20px;
}




















 .main-div {
   /* flex-direction: column;
   flex-flow: column; */
   /* padding-top: 100px; */
   /* min-height: 100%; */
   /* background-color: #f2f2f2; */
 }



 .top-subheading{
     padding:1%
 }

 .container-div{
     margin-left:4%;
     margin-right: 4%;
     min-width: 80%;

 }

 .pnr-heading{
     justify-content: space-between;
     display: flex;
     flex-direction: row;
     flex-flow: row;

 }

 .booking-tables{
     padding:1%;
     margin-Top:2%;

 }




 .container {
     /* justify-content: space-between;
     flex-direction: column;
     height: 100vh;
     display: flex; */
   }


   .btn-holder{
       justify-content: flex-end;
       display: flex;
       margin-top: 10%;

   }

   .errors{
       color:red
   }



   /* booking information */
 .booking-Information{
     padding:1% !important;
     border-radius: 10px;
     /* box-shadow: 0px 0px 12px grey ; */
     margin:2% 0% 2% 0%;
     padding-top:1% ;
     /* background-color: white; */
     overflow-x: auto;
 }

 /* conntact_information */
 .contact-Information{
     padding:1% !important;
     border-radius: 10px;
     /* box-shadow: 0px 0px 12px  grey ; */
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     /* background-color: white; */
     overflow-x: auto;
 }

 /* passenger-details */
 .Passenger-Details{
     padding:2% !important;
     border-radius: 10px;
     /* box-shadow: 0px 0px 12px  grey ; */
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     /* background-color: white; */
     overflow-x: auto;
 }


 .sub-heading{
     font-weight:bold
 }

 /* cab-details */

 .cab-Details{
     padding:1% !important;
     border-radius: 10px;
     box-shadow: 0px 0px 12px  grey ;
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     background-color: white;
     overflow-x: auto;
 }

 /* porter Service */


 .porter-container{
     padding:1% !important;
     border-radius: 10px;
     /* box-shadow: 0px 0px 12px  grey ; */
     /* margin:2% 0% 4% 0%; */
     padding-top:1% ;
     margin-top: 30px;
     background-color: white;
     overflow-x: auto;
 }

 .porter-service{
     padding:1% !important;
     border-radius: 10px;
     /* box-shadow: 0px 0px 12px  grey ; */
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     margin-top: 30px;
     /* background-color: white; */
     overflow-x: auto;
 }



 /* payable amount div */

 .payable-amount{

     box-shadow: 0px 0px 12px grey;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
 }

 /* payable amount section */
 .payable-amt-section{
     box-shadow: 0px 0px 12px grey;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     border-radius: 10px;
     padding:1%;
  padding-top:1% ;
 }

 /* mobile view */
 .payable-amt-section-mobile{
 width:100%
 }

 /* selections Dropdowns */
 .container-dropdowns{
   padding:0px !important;
 margin:0px !important
 }

 img{
     margin-left: 0px;
 }

 select {
     text-align: center;
     justify-content: center;
     border: 1px solid black;
     color: #444444;
     -webkit-user-select: none;
     background-color: white;
     background-repeat: no-repeat;
     background-size: contain;
     margin-right:0 !important;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     padding-right: 0 !important;
     padding-left:0 !important;
     height:40px;
     width: 110% !important ;

   }

   select option{
         position: relative;
   }


   body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }

   code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
   }

   .icons{
     margin-right: 1%;
     margin-left: 0.1%;
   }

   .order-title{
     padding-left: 5%!important;
   }

@media (min-width:767px) {
  .order-title{
    font-weight: 600;
    padding-left: 5%!important;
  }
}


  /* ----------------
          Footer
  ------------------ */
.footer{
  margin-top: 100px;
  padding: 25px 10px 10px 10px;
  width: 100%;
  /* height: 157px; */
  border: solid 1px #707070;
  background-color: #2a306c;
}
.footer-field{
  text-align: center;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}
@media (max-width:767px) {
  .footer-field{
    padding: 10px;
  }
  .footer-field-left{
    padding: 10px;
    text-align: center!important;

  }
  .footer-field-right{
    padding: 10px;
    text-align: center!important;
  }
}
.footer-field-left{
  text-align: left;
  padding-top: 10px;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}
.footer-field-right{
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
  text-align: right;
}
@media (min-width: 767px) {
  .footer-field-left{
    padding-left: 80px!important;
    padding-top: 50px!important;
  }
  .footer-field-right{
    padding-right: 75px!important;
    padding-top: 30px!important;
    text-align: right!important;
  }
}

.footer-icons{
  margin: 10px;
}

/* -----------------
   Booking Details
------------------- */
.bd-banner-heading{
    background-color: #2a306c;
    padding: 16px 14px 15px 14px!important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
}
.bd-banner-container{
    box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
    background-color: #ffffff;
    padding: 20px 20px 20px 20px!important;
    border-radius: 6px;
}

.bd-banner-inner{
    border-radius: 6px;
    border: solid 1px #2a306c;
    background-color: #ffffff;
}
.bd-btn-agent{
  background-color: #4fc3f7!important;
  padding: 15px 20px 15px 20px!important;
  color: white!important;
  min-width: 200px!important;
  font-weight: bold!important;
  border-radius: 6px!important;
  border: 0px!important;
  margin:3px 3px 15px!important;
}
.bd-btn-cancel{
  background-color: white!important;
  padding: 15px 20px 15px 20px!important;
  color: #4fc3f7!important;
  margin: 3px!important;
  min-width: 200px!important;
  font-weight: bold!important;
  border-radius: 6px!important;
  border: 1px solid #4fc3f7!important;
}
.bd-agent-container{
  width: 250px;
  max-height: 170px;
  padding: 20px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
}

#btns-text{
  text-transform: none;
}

@media (max-width:767px) {
  .bd-agent-container{
    margin-top: 20px;
  }
}
.cab-container{
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
  padding: 20px 20px 20px 20px!important;
  border-radius: 6px;
}
.cab-inner{

}
.col-3{
  padding-left: 10px!important;
  padding-right: 10px!important;
  margin: 0px!important;
}



/* ---------------
     Login
----------------- */
.lg-container{
  text-align: center;
  max-width: 370px;
}

/* --------------
   USER CRUD
----------------- */
.rootUserList{
  padding-top: 2%;
  padding-left:4%;
  padding-right: 4%;
}
.fieldsUserAdd{
  padding-left: 3%;
  padding-top: 3%;
}
.containerUserAdd{
  height: 150px;
}
.dropdownStyle{
  border-radius: 3px;
  height: 60px;
  width: 100px;
  font-size: 3ex;
  border-color: grey;
  color: grey;
}

.buttonUserAdd{
  background-color: #00C4FF!important;
  color: white!important;
  font-weight: bold!important;
  padding: 10px 30px 10px 30px!important;
  /* font-size: 3ex; */
}

.usersListposition{
  margin-top: 50px;
  margin-left: 4%;
  margin-right:8%;
}


.m-otp-input-each{

  background-color: white!important;
  border-radius: 2px!important;
  margin: 0px 7px!important;
  border: solid 1px #d8d8d8!important;
  width: 40px!important;
  height: 40px!important;
}




/* ---------------
 All booking modal
 ---------------- */

 .all-booking-root {
  padding-top:"300px";
  margin-left:"10%";
  margin-right:"10%";
  min-width: 400;

}
.all-booking-pos  {
  margin-bottom: 12;
}
.all-booking-particularBooking{
  margin-bottom:"1%";
  min-width:"350px";
  width:"50%";
}
.allBookingDetails{
  position:"center";
  padding-left:"15%";
  padding-right:"15%";
}


/* ------------------------------ */
/* ------F I L T E R S----------- */
/* ------------------------------ */

.filters-container{
  height: 40px;
  display: flex;
  margin-top: 50px;
  background-color: silver;
}


.filters{
  margin-left: 20%;
}

.filter-btn{
  text-align: left;

  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:#00C4FF;
  color: white;
  letter-spacing: 0.3ex;
  font-size: 18px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 320px;
}

.filter-status{
  padding-left: 20px;
}

.filter-content{
  display: none;
  position: absolute;
  min-width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}


.filter-content button{
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

.filter-content button:hover{
  background-color: #000066;
  color: white;
}

.filters:hover .filter-content{
  display: block;
}

.filter-option{
  text-align: left;
  width: 150px;
  border:none;
  height: 20px;
  line-height: 5px;
  background:none;
}

.filter-option:active:after .filter-content{
  display: none;
  background-color: #000066;
}


.filters-1{
  margin-left: 100px;

}


.filter-btn-1{
  text-align: left;
 box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:#00C4FF;
  color: white;
  letter-spacing: 0.3ex;
  font-size: 18px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.filter-status-1{
  padding-left: 5px;
}

.filter-content-1{
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}


.filter-content-1 button{
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

.filter-content-1 button:hover{
  background-color: #000066;
  color: white;
}

.filters-1:hover .filter-content-1{
  display: block;
}

.filter-option-1{
  text-align: left;
  width: 200px;
  border:none;
  height: 38px;
  line-height: 5px;
}

.filter-option-1:active:after .filter-content-1{
  display: none;
}



.filters-2{
  margin-left: 100px;
}

.filter-btn-2{
  text-align: left;
  box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:#00C4FF;
  color: white;
  letter-spacing: 0.3ex;
  font-size: 18px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 250px;
}

.filter-status-2{
  padding-left: 20px;
}

.filter-content-2{
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}


.filter-content-2 button{
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

.filter-content-2 button:hover{
  background-color: #000066;
  color: white;
  width: auto;
}

.filters-2:hover .filter-content-2{
  display: block;
}

.filter-option-2{
  width: auto;
  min-width: 200px;
  border:none;
  background:none;
  height: 38px;
  line-height: 5px;
  text-align: center;
}

.filter-option-2:active:after .filter-content-2{
  display: none;
}




/* --------------
   Cancel Modal
---------------- */
.cm-title{
  font-size: 20px;
}





.o-services-title{

 margin: 20px 0px 20px 0px;
 font-family: HelveticaNeue;
 font-size: 14px;
 font-weight: 600;
 font-stretch: normal;
 font-style: normal;
 line-height: 1.19;
 letter-spacing: 0.8px;
 text-align: left;

}
.o-terms-condition{
font-size: 13px;
font-weight: bold;
font-stretch: normal;
font-style: normal;
letter-spacing: 0.8px;
text-align: left;
color: #00c4ff;
}
.o-booknow-btn{
 width: 100%;
 height: 45px;
 background-color: #00c4ff!important;
 color: white!important;
 margin: 24px 5px 0 8px;
 object-fit: contain;
}

.reEnter-action{
  marginTop:"200px"
}



/* --------------
  LOGIN MODAL
---------------*/
.login-modal-title{
  font-size: 30px;
  font-weight: 300!important;
}
.otp-msg{
  font-size: 14px;
  padding: 0px 0px 20px 0px;
}
.otp-resend{
  cursor: pointer;
  padding: 15px 0px 15px 0px;
  color: #00c4fe;
  font-weight: 700;
}

.booking-card{
  border-radius: 10px;
  margin: 10px;
}
.can-btn{
  background-color: #f5222d!important;
  color: white!important;
  font-weight: bold!important;
  padding: 3px 10px 3px 10px!important;
}
.mod-btn{
  background-color: #00C4FF!important;
  color: white!important;
  font-weight: bold!important;
  padding: 3px 10px 3px 10px!important;
}

#no-text-change{
  text-transform: none;
}

.login-btn{
  color:white!important;
}

.delete-user{
  background-color: #f5222d!important;
  padding: 5px 10px 5px 10px!important;
  color:white!important;
  border-color:white!important;
  border-radius: 5px!important;
  background-image: linear-gradient(rgba(0, 0,0, 0), rgba(0, 0, 0, 0))!important;
}

.bd-btn-submit{
  background-color: #4fc3f7!important;
  padding: 15px 20px 15px 20px!important;
  color: white!important;
  min-width: 100px!important;
  font-weight: bold!important;
  border-radius: 6px!important;
  max-height: 37px;
  border: 0px!important;

  margin:13px 3px 15px!important;

}


/* ===================
 Cancel ticket modal
======================

*/

#yes-btn{
  background-color: #00c4fe;
  color:white;
}

#no-btn{
  color:#00c4fe;
  border-color: #00c4fe;
  background-color: none;
}

#yes-btn, #no-btn{
  width: 100px;
  height: 40px;
  font-weight:bold;
  text-transform: none;
}

.on-cancellation{
  color: gray;
}

#view_detail{
  text-transform: none;
  background-color: #00c4fe;
  color: white;
  font-size: small;
  margin-left: 10px;
  height: 20px;
}

.yoyoyo p{
  display: inline-block;
}

#modify-btn{
  text-transform: none;
  color:#00c4fe;
  letter-spacing: "0.2em";
  border-color: #00c4fe;
  border-radius: 6px;
  width: 80px;
}


#btn-position{
  margin-left: 100px;
  padding-left: 100px;
}

.user-icon{
  font-size: 28px;
  margin-right: 10px;
}
.user-phone{
  font-size: 16px;
}
.user-login-icon{
  font-size: 22px;
}
.login-modal-input{
  max-width: 250px;
}
.login-modal-continue{
  background-color: #00C4FF!important;
  color: white!important;
  font-weight: bold!important;
  padding: 10px 30px 10px 30px!important;
  width: 200px;
  margin-top: 20px;
}
