.main-div {
  flex-direction: column;
  flex-flow: column;
  min-height: 100%;
  background-color: #f2f2f2;
}



.top-subheading{
    padding:1%
}

.container-div{
<<<<<<< HEAD
    margin-left:4%;
    margin-right: 4%;  
=======
    margin-left:3%;
    margin-right: 3%;  
>>>>>>> origin/booking
    min-width: 80%;
   
}

.pnr-heading{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    
}

.booking-tables{
<<<<<<< HEAD
=======

>>>>>>> origin/booking
    padding:1%;
    margin-Top:2%;
   
}


<<<<<<< HEAD
=======
th{
    text-align: left;
    background-color: #2A306C;
    padding:1.3%;
    color:white
}
>>>>>>> origin/booking
table th{
    text-align: left;
    background-color: #2A306C;
    padding:1% !important;
    color:white;
    border-collapse: collapse;
    border-right: 1px solid white;
    width:120px !important;
   
}


table{
    width: 100% !important;
    table-layout: auto;
}

table td{
    
    padding:2% !important;
<<<<<<< HEAD
    border-left:1px solid #8588AA;
    border-bottom: 1px solid #8588AA;
    border-right: 1px solid #8588AA;
    width: 120px !important;
=======

    border-left:1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
>>>>>>> origin/booking
}



input{
<<<<<<< HEAD

    margin-top:2% !important;
    margin-bottom: 2% !important;
    padding:2%;
    margin-right:0.9% !important;
    height:30px !important ;
    width: 90%  ;
    border:1px solid black;
    border-radius: 1px;
=======
    padding-top:2% ;
    padding-bottom: 1% ;
    height:30px ;
    width: 100% ;
>>>>>>> origin/booking
    
}

table{
    margin-bottom: 3%;
    margin-top: 1%;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}


.container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
 

  .btn-holder{
      justify-content: flex-end;
      display: flex;
      margin-top: 10%;
      
  }

  .errors{
      color:red
  }


  
  /* booking information */
.booking-Information{
<<<<<<< HEAD
    padding:1% !important;
=======
    padding:1%;
>>>>>>> origin/booking
    border-radius: 10px;
    box-shadow: 0px 0px 12px grey ;
    margin:2% 0% 2% 0%;
    padding-top:1% ;
    background-color: white;
    overflow-x: auto;
}

/* conntact_information */
.contact-Information{
<<<<<<< HEAD
    padding:1% !important;
=======
    padding:1%;
>>>>>>> origin/booking
    border-radius: 10px;
    box-shadow: 0px 0px 12px  grey ;
    margin:2% 0% 4% 0%;
    padding-top:1% ;
    background-color: white;
    overflow-x: auto;
}

/* passenger-details */
.Passenger-Details{
<<<<<<< HEAD
    padding:1% !important;
=======
    padding:1%;
>>>>>>> origin/booking
    border-radius: 10px;
    box-shadow: 0px 0px 12px  grey ;
    margin:2% 0% 4% 0%;
    padding-top:1% ;
    background-color: white;
    overflow-x: auto;
}

/* cab-details */

.cab-Details{
<<<<<<< HEAD
    padding:1% !important;
=======
    padding:1%;
>>>>>>> origin/booking
    border-radius: 10px;
    box-shadow: 0px 0px 12px  grey ;
    margin:2% 0% 4% 0%;
    padding-top:1% ;
    background-color: white;
    overflow-x: auto;
}

/* porter Service */


.porter-Service{
<<<<<<< HEAD
    padding:1% !important;
=======
    padding:1%;
>>>>>>> origin/booking
    border-radius: 10px;
    box-shadow: 0px 0px 12px  grey ;
    margin:2% 0% 4% 0%;
    padding-top:1% ;
    background-color: white;
<<<<<<< HEAD
    overflow-x: auto;
=======
    overflow-x: hidden;
>>>>>>> origin/booking
}




/* payable amount div */

.payable-amount{

    box-shadow: 0px 0px 12px grey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* payable amount section */


.payable-amt-section{
    box-shadow: 0px 0px 12px grey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 10px;
    padding:1%;
 padding-top:1% ;
}

/* mobile view */
.payable-amt-section-mobile{
width:100%
}

/* selections Dropdowns */
.container-dropdowns{
  padding:0px !important;
margin:0px !important
}


select {
    text-align: center;
    justify-content: center;
<<<<<<< HEAD
    border: 1px solid black;
=======
    border: 1px solid #c9c9c9;
>>>>>>> origin/booking
    color: #444444;
    -webkit-user-select: none;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    margin:0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 0 !important;
    padding-left:0 !important;
    height:40px;
    width: 110% !important;
  }

  select option{
        position: relative;
  }
  
<<<<<<< HEAD


=======
>>>>>>> origin/booking
