
/* -------------
 General styling
 -------------- */
 .MuiAppBar-root{
  background-color: #2a306c!important;
   box-shadow:0px 0px 0px 0px!important;
 }

body{
  background-color: #FDFDFD;
}
.row{
  padding-left: 0px!important;
  padding-right: 0px!important;

  margin-left: 0px!important;
  margin-right: 0px!important;
}
.col{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.col-md-6{
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.col-md-7{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

 table th{
     text-align: left;
     background-color: #2A306C;
     padding:1% !important;
     color:white;
     border-collapse: collapse;
     border-right: 1px solid white;
     width:120px ;

 }


 table td{

     padding:2% !important;
     border-left:1px solid #8588AA;
     border-bottom: 1px solid #8588AA;
     border-right: 1px solid #8588AA;
     width: 120px ;
 }



 input{

     margin-top:2% !important;
     margin-bottom: 2% !important;
     padding:2%;
     margin-right:0.9% !important;
     height:30px  ;
     width: 100%  ;
     border:1px solid black;
     border-radius: 1px;

 }

 table{
     margin-bottom: 3%;
     margin-top: 1%;
     border-collapse: collapse;
     table-layout: fixed;
     width: 100%;
 }


/* --------------
  Progress bar
 ----------------*/
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  border: 1px solid #29d!important;
  width: 100%;
  height: 1px!important;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* ---------------
 Header styling
 ---------------- */

.h-logo{
   width: 189.2px;
   margin-top: 5px;
   height: 65px;
   object-fit: contain;
}
@media (max-width: 767px) {
  .h-logo{
     margin-top: 10px;
     width: 189.2px;
     height: 58.5px;
     object-fit: contain;
  }
}
/* ---------------
 Homepage styling
 ---------------- */
 .hp-curve{
   background-color:#30336B;
   height:180px;
   /* border-radius:0px 0px 90px 90px; */
 }
.hp-welcome{
  position:absolute;
  top:100px;
  left:70px;
  right:70px;
  padding: 18px;
  border-radius: 20px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
  z-index: 1000;
}

.hp-welcome-inner{
  min-height: 300px;
}

@media (min-width:767px) {
  .hp-welcome-inner{
    object-fit: contain;
    border-radius: 20px;
    height: 400px;
    background-color: #252b6a;
    box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
    background-image: url('/images/home_welcome.png');
    background-repeat: no-repeat;
    opacity:1;
    border-radius: 20px;
  }
}
@media (max-width: 767px) {
  .hp-welcome{
    min-height:400px;
  }
}

.hp-mg{
  margin-top: 260px;
}
.hp-mg-title{
  padding: 10px;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
}
.hp-mg-card{
  box-shadow: #E9ECEE 0px 0.30rem .6rem 0.5rem;
  margin: 10px;
  padding: 25px;
}
.hp-mg-desc{
  text-align: start;
  font-size: 15px;
}
.hp-mg-header{
  text-align: center;
  padding: 20px;
  font-size: 22px;
  color: #303030;
}
.hp-btn-container{
  padding: 10px;
  text-align: center;
}
.hp-mg-btn{
  background-color: #00C4FF!important;
  width: 250px;
  color: white!important;
  font-weight: bold!important;
  padding: 10px 20px 10px 20px!important;
}
.hp-detail-container{
  margin-top: 50px;
}
.hp-details{
  padding: 10px 10px 20px 10px;
  margin-bottom: 70px;
  box-shadow: #E9ECEE 0px 0.30rem .6rem 0.5rem;
}
.hp-detail-input{
  margin: 5px!important;
}
.hp-inp-container{
  background-color: white;
  padding: 0px;
  height: 200px;
  border-radius: 20px;
}
.hp-inp-outer{

}
.hp-heading{
  font-size: 28px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.84px
}
.hp-subheading{
  font-size: 22px;
  color: #e0e0e0;
  font-weight: 600;
  letter-spacing: 0.66px
}


@media (min-width:767px) {
  .hp-inp-outer{
    border-radius: 20px;
    min-height: 220px;
    position: absolute;
    top: 35%;
  }
}
.hp-input{
  background-color: white!important;
  border-radius: 10px!important;
  margin: 5px 5px 5px 0px;
  border: 0px solid black!important;
  box-shadow: #E9ECEE 0px 0.30rem .6rem 0.5rem;
}
.hp-radio-btn{
  padding: 17px 17px 7px 19px;
}
.hp-inpt-btn-c{
  /* position: absolute!important;
  bottom: 0px!important;
  left: 40%; */
}
.hp-inpt-btn{
  background-color: #00C4FF!important;
  color: white!important;
  font-weight: bold!important;
  padding: 10px 30px 10px 30px!important;
}
@media (max-width:767px) {
  .hp-inpt-btn-c{
    left: 30%;
  }
  .hp-welcome{
  position:absolute;
  top:80px;
  left:10px;
  right:10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
  z-index: 1100;
  }
}
.mb-hp-welcome{
  /* opacity: 0.85; */
}











/* ---------------
 Homepage  modal
 ---------------- */
 .md-btn{
   background-color: #00C4FF;
   color: white;
   font-weight: bold;
   padding: 10px 30px 10px 30px;
 }


.baggage-container{
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items:center;
}
.baggage-input{
  height: 25px;
  width: 25px;
}
.baggage-text{
 font-weight: bold;
 margin: 0px 20px 0px 20px;
}




















 .main-div {
   flex-direction: column;
   flex-flow: column;
   padding-top: 100px;
   min-height: 100%;
   background-color: #f2f2f2;
 }



 .top-subheading{
     padding:1%
 }

 .container-div{
     margin-left:4%;
     margin-right: 4%;
     min-width: 80%;

 }

 .pnr-heading{
     justify-content: space-between;
     display: flex;
     flex-direction: row;
     flex-flow: row;

 }

 .booking-tables{
     padding:1%;
     margin-Top:2%;

 }




 .container {
     /* justify-content: space-between;
     flex-direction: column;
     height: 100vh;
     display: flex; */
   }


   .btn-holder{
       justify-content: flex-end;
       display: flex;
       margin-top: 10%;

   }

   .errors{
       color:red
   }



   /* booking information */
 .booking-Information{
     padding:1% !important;
     border-radius: 10px;
     box-shadow: 0px 0px 12px grey ;
     margin:2% 0% 2% 0%;
     padding-top:1% ;
     background-color: white;
     overflow-x: auto;
 }

 /* conntact_information */
 .contact-Information{
     padding:1% !important;
     border-radius: 10px;
     box-shadow: 0px 0px 12px  grey ;
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     background-color: white;
     overflow-x: auto;
 }

 /* passenger-details */
 .Passenger-Details{
     padding:2% !important;
     border-radius: 10px;
     box-shadow: 0px 0px 12px  grey ;
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     background-color: white;
     overflow-x: auto;
 }


 .sub-heading{
     font-weight:bold
 }

 /* cab-details */

 .cab-Details{
     padding:1% !important;
     border-radius: 10px;
     box-shadow: 0px 0px 12px  grey ;
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     background-color: white;
     overflow-x: auto;
 }

 /* porter Service */


 .porter-Service{
     padding:1% !important;
     border-radius: 10px;
     box-shadow: 0px 0px 12px  grey ;
     margin:2% 0% 4% 0%;
     padding-top:1% ;
     background-color: white;
     overflow-x: auto;
 }




 /* payable amount div */

 .payable-amount{

     box-shadow: 0px 0px 12px grey;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
 }

 /* payable amount section */
 .payable-amt-section{
     box-shadow: 0px 0px 12px grey;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     border-radius: 10px;
     padding:1%;
  padding-top:1% ;
 }

 /* mobile view */
 .payable-amt-section-mobile{
 width:100%
 }

 /* selections Dropdowns */
 .container-dropdowns{
   padding:0px !important;
 margin:0px !important
 }

 img{
     margin-left: 0px;
 }

 select {
     text-align: center;
     justify-content: center;
     border: 1px solid black;
     color: #444444;
     -webkit-user-select: none;
     background-color: white;
     background-repeat: no-repeat;
     background-size: contain;
     margin-right:0 !important;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     padding-right: 0 !important;
     padding-left:0 !important;
     height:40px;
     width: 110% !important ;

   }

   select option{
         position: relative;
   }


   body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }

   code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
   }

   .icons{
     margin-right: 1%;
     margin-left: 0.1%;
   }



@media (min-width:767px) {
  .order-container{
    padding-top: 130px;
    padding-left: 30px;
    padding-right: 30px;
  }
}


  /* ----------------
          Footer
  ------------------ */
.footer{
  width: 100%;
  height: 187px;
  border: solid 1px #707070;
  background-color: #2a306c;
}


/* -----------------
   Booking Details
------------------- */
.bd-banner-heading{
    background-color: #2a306c;
    padding: 16px 14px 15px 14px!important;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
}
.bd-banner-container{
    box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
    background-color: #ffffff;
    padding: 20px 20px 20px 20px!important;
    border-radius: 6px;
}

.bd-banner-inner{
    border-radius: 6px;
    border: solid 1px #2a306c;
    background-color: #ffffff;
}
.bd-btn-agent{
  background-color: #4fc3f7;
  padding: 15px 20px 15px 20px;
  color: white;
  min-width: 200px;
  font-weight: bold;
  border-radius: 6px;
  border: 0px;
  margin:3px 3px 15px;
}
.bd-btn-cancel{
  background-color: white;
  padding: 15px 20px 15px 20px;
  color: #4fc3f7;
  margin: 3px;
  min-width: 200px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #4fc3f7;
}
.bd-agent-container{
  width: 250px;
  max-height: 170px;
  padding: 20px;
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
}

@media (max-width:767px) {
  .bd-agent-container{
    margin-top: 20px;
  }
}
.cab-container{
  box-shadow: 0 0 22px 0 rgba(16, 55, 67, 0.25);
  background-color: #ffffff;
  padding: 20px 20px 20px 20px!important;
  border-radius: 6px;
}
.cab-inner{

}
.col-3{
  padding-left: 10px!important;
  padding-right: 10px!important;
  margin: 0px!important;
}
